



//6\推荐商家
.recommend{
  height: auto;
  //background: #795da3;
  margin-top: 0.3rem;
  //6.1标题
  .title{
    position: relative;
    width: 100%;
    height: 1.32rem;
    background: #fff;
    font-size: 0.6rem;
    text-align: center;
    line-height: 1.32rem;
    color: #000;
    &:before,&:after{
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto 0;
      content: " ";
      width: .74rem;
      height: 0.03rem;
      background: #999;
    }
    &:before{
      left: 4.31rem;
    }
    &:after{
      right: 4.31rem;
    }

  }
  //6.2列表
  .list{
    display: flex;
    width: 100%;
    height: 1.5rem;
    background: #fff;
    li{
      flex: 1;
      height: 1.5rem;
      //background: #25A5F7;
      &:nth-of-type(1){
        padding-left: 0.4rem;
      }
      &:nth-last-child(1){
        padding-right: 0.4rem;
      }
      a{
        width: 100%;
        height: 1.5rem;
        font-size: .6rem;
        color: #999;
        line-height: 1.5rem;
        text-align: center;
        span{
          font-size: .6rem;
          line-height: 0.6rem;
        }

      }


    }
  }
  //6.3商品详情
  .goodslist{
    width: 100%;
    height: auto;//后期不固定
    //background: pink;
    ul{
      height: 100%;
      width: 100%;
      li{
        display: flex;
        justify-content: space-between;
        height: auto;

        border-top: 0.01rem solid #c5c5c5;
        padding: 0.57rem 0.4rem;
        background: #fff;
        //左边图片
        .left{
          overflow: hidden;
          width: 2.43rem;
          height: 2.43rem;
          border: 0.02rem solid #666;
          border-radius: 0.2rem;
          background: orange;
          img{
            width: 100%;
            height: 100%;
          }

        }
        //右边详情未完待续**************************************************
        .right {
          width: calc(100vw - 3.5rem);
          height: 100%;
          //background: #5db103;
          margin-left: 0.1rem;
          //标题
          .title2{
            display: flex;
            justify-content: space-between;
            height: 1rem;
            color: #333;
            //background: #9f9f9f;
            h2{
              height: 1rem;
              font-size: 0.6rem;
              font-weight: bolder;
              line-height: 1rem;


            }
            span{
              font-size: 0.6rem;

            }


          }
          //评分
          .mark{
            display: flex;
            justify-content: left;
            width: 100%;
            height: 0.5rem;
            margin: 0.2rem 0;
            .ant-rate{
              display: flex;
              justify-content: space-between;
              width: 3.2rem;
              height: 0.5rem;

              //background: #5db103;

              .ant-rate-star{
                height: 0.5rem;
                width: 0.5rem;
                padding: 0 !important;
                margin: 0;

                border: 0;
                .ant-rate-star-first {
                  opacity: 0.5;
                  width: 0.5rem;
                  height: 0.5rem;
                  background: #fff;

                  //line-height: 0.5rem;

                  i {
                    width: 100%;
                    line-height: 0.5rem;
                    svg {
                      height: 100%;
                      width: 100%;


                    }
                  }
                }
                .ant-rate-star-second{
                  opacity: 0.5;
                  width: 0.5rem;
                  height: 0.5rem;
                  //
                  i{
                    width: 100%;
                    line-height: 0.5rem;
                    svg{
                      height: 100%;
                      width: 100%;

                    }
                  }
                }


              }

            }
            span{
              display: inline-block;
              padding-left:  0.2rem;
              font-size: 0.4rem;
              height: 0.5rem;
              line-height: 0.5rem;


            }

          }
          //起送价格
          .startsprice{
            display: flex;
            justify-content: space-between;
            height: 0.5rem;
            //background: #5db103;
            line-height: 0.5rem;

            span{
              position: relative;
              font-size: 0.4rem;
              color: #666666;
              padding-right: 0.4rem;
              &:nth-of-type(1):after{
                position: absolute;
                right: 0.2rem;
                top: 0.05rem;
                content: " ";
                display: block;
                width: 0.02rem;
                height: 0.4rem;
                padding: 0;
                background: #b0b0b0;
              }
            }

          }
          //店铺特色
          .feature{
            height: 0.5rem;
            margin: 0.2rem 0;
            //background: paleturquoise;
            line-height: 0.5rem;
            span{
              position: relative;
              font-size: 0.4rem;
              color: #666666;
              padding-right: 0.4rem;
            }
          }
          //优惠
          .discounts{

            height: 1.63rem;
            padding: 0.17rem 0;
            border-top:0.02rem dashed #b6b6b6;
            //background: orange;
            .first,.reduce{
              height: 0.55rem;
              //background: #9f9f9f;
              margin-bottom: 0.29rem;
            }
            .first{
              display: flex;
              justify-content: space-between;
              .shou{
                display: flex;
                justify-content: left;
                width: calc(100% - 1.9rem);
                height: 100%;
                //background: #25A5F7;
                line-height: 100% ;
                span{
                  display: inline-block;
                  font-size: 0.4rem;
                  color: #333;
                  line-height: 0.55rem ;
                  text-align: center;
                }
                span:nth-of-type(1){
                  display: inline-block;
                  width: 0.55rem;
                  height: 0.55rem;
                  background: #70bc46;
                  border-radius: 0.08rem;
                  color: #fff;
                  margin-right: 0.2rem;
                }
              }
              .active{
                width: 1.7rem;
                height: 100%;
                //background: #f7aae4;
                font-size: 0.3rem;
                color: #9f9f9f;

              }
            }
            .reduce{
              display: flex;
              justify-content: left;
              //background: #25A5F7;
              line-height: 100% ;
              span{
                display: inline-block;
                font-size: 0.4rem;
                color: #333;
                line-height: 0.55rem ;
                text-align: center;
              }
              span:nth-of-type(1){
                display: inline-block;
                width: 0.55rem;
                height: 0.55rem;
                background: #f07373;
                border-radius: 0.08rem;
                color: #fff;
                margin-right: 0.2rem;
              }
            }

          }


        }
      }
    }

  }
}