//设置通用样式
html{
  font-size:7.1428vw ;
}
body{
  background: #848484;
}
*{
  margin: 0;
  padding: 0;
  font-size: 0;
  box-sizing: padding-box;
  box-sizing: border-box;

}
a{
  display: inline-block;
  text-decoration: none;
  color: #fff;
}
ul{
  list-style: none;
}
img {
  vertical-align: top;
}